services:
  clamav:
    image: clamav/clamav:latest
    container_name: clamav
    ports:
      - "3310:3310"

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8080"
    environment:
      # Add your DB/config envs here
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - clamav

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8082:8080"
    environment:
      # Add your DB/config envs here
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - clamav

  submission-service:
    build: ./submission-service
    container_name: submission-service
    ports:
      - "8083:8080"
    environment:
      # Add your DB/config envs here
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - AWS_REGION=${AWS_REGION}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
    depends_on:
      - clamav

  manga-data-service:
    build: ./manga-data-service
    container_name: manga-data-service
    ports:
      - "8084:8080"
    environment:
      # Add your DB/config envs here
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
    depends_on:
      - clamav

  # data-collection-service:
  #   build: ./data-collection-service
  #   container_name: data-collection-service
  #   ports:
  #     - "8084:8080"
  #   environment:
  #     - DATABASE=${DATABASE}
  #     - HOST=${HOST}
  #     - PORT=${PORT}
  #     - USER=${USER}
  #     - PASSWORD=${PASSWORD}
  #   depends_on:
  #     - clamav
