services:
  # Add nginx as reverse proxy
  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "8080:80"  # Single entry point for all services
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - user-service
      - submission-service
      - manga-data-service
    restart: unless-stopped


  clamav:
    image: clamav/clamav:latest
    container_name: clamav
    ports:
      - "3310:3310"

  auth-service:
    build: ./auth-service
    container_name: auth-service
    # Remove port mapping - only accessible via nginx
    expose:
      - "8080"
    environment:
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL=${EMAIL}
      - SMTP=${SMTP}
      - SMTP_PORT=${SMTP_PORT}
      - USE_TLS=${USE_TLS}
      - APP_PASSWORD=${APP_PASSWORD}
      - FRONTEND_URL=${FRONTEND_URL}
    depends_on:
      - clamav
    restart: unless-stopped

  # frontend:
  #   build: ./frontend  # Your React app
  #   container_name: frontend
  #   expose:
  #     - "3000"

  user-service:
    build: ./user-service
    container_name: user-service
    expose:
      - "8080"
    environment:
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - clamav
    restart: unless-stopped

  submission-service:
    build: ./submission-service
    container_name: submission-service
    expose:
      - "8080"
    environment:
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - AWS_REGION=${AWS_REGION}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
    depends_on:
      - clamav
    restart: unless-stopped

  manga-data-service:
    build: ./manga-data-service
    container_name: manga-data-service
    expose:
      - "8080"
    environment:
      - DATABASE=${DATABASE}
      - HOST=${HOST}
      - PORT=${PORT}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
    depends_on:
      - clamav
    restart: unless-stopped